@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: orange;
  ;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5rem
  
}

.container {
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  padding: 6rem 2rem;
    display: block;
    align-items: center;
    margin: auto;
    width: 70vw
}

.change-table {
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
    
  }

.change-table caption {
  margin: 1rem auto;
  font-size: x-large;
  font-weight: 500;
 }

th, td {
  border: 2px solid var(--primary-color);
  width: 0%;
  border-collapse: collapse;
  padding: 0.4rem;
}

.heading {
  color: var(--primary-color);
}

.description {
  font-size: larger;
  margin: 1rem;
}

.input-label {
  display: block;
  font-size: large;
  font-weight: 600;
}

.input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

#btn-check {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

#btn-nav {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
  
}

nav {
  margin-bottom: 3rem;
  max-width: 53vh;
}

#error-message {
  display: block;
  font-size: larger;
  margin: 1rem 0 0;
}

footer p {
  font-size: large;
  text-align: center;
}

.footer-list {
  margin: 1rem;
}

a,
img,
li {
  display: inline;
}

img {
  width: 40px;
  padding: 0.2rem;
}


footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

ul {
  padding-inline-start: 0;
}

.footer-list {
  margin: 1rem;
}

.footer-text{
  
  text-align: center;
}